
#colored_subtitle {
    color: aqua;
  
  }

.yellow_bg {
    background-color: yellow;
}
#thead {
    background-color: rgb(34, 185, 255);
    color: white;
}
.tab_bg {
    background-color: rgb(139, 232, 255);
}
#banner {
    background: rgb(70, 119, 255);
}